In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn 
seaborn.set()

In [8]:
data2=pd.read_csv('/home/aminjs/Documents/python/dm/p/iris.txt',header=None,names=['A','B','C','D','E'])
data2.head()

              A            B             C            D            E
0  sepal length  sepal width  petal length  petal width     label
1           5.1          3.5           1.4          0.2  Iris-setosa
2           4.9          3.0           1.4          0.2  Iris-setosa
3           4.7          3.2           1.3          0.2  Iris-setosa
4           4.6          3.1           1.5          0.2  Iris-setosa

In [10]:
shape=data2.shape
shape

(151, 5)

In [12]:
data2.describe()

          A    B    C    D            E
count   151  151  151  151          151
unique   36   24   44   23            4
top     5.0  3.0  1.5  0.2  Iris-setosa
freq     10   26   14   28           50

In [13]:
data2['E']

0            label
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
150    Iris-virginica
Name: E, Length: 151, dtype: object

In [15]:
print(data2.groupby('E').size())

E
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
label               1
dtype: int64